.slider-part {
  position: relative;
  overflow: hidden;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.slider-part__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider-part__item {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 576px) {
  .slider-part__item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .slider-part__item {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 1200px) {
  .slider-part__item {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.slider-part__control {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  color: #fff;
  text-align: center;
  bottom: 0;
  background: #fff;
}

.slider-part__control:hover,
.slider-part__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
}

.slider-part__control_left {
  left: 0;
}

.slider-part__control_right {
  right: 0;
}

.slider-part__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider-part__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23424242' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider-part__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23424242' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider-part__content_header {
  position: relative;
}

.slider-part__content_img {
  display: block;
  height: 200px;
  max-width: 100%;
}

.slider-part__content_section {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #009688;
  color: #fff;
  padding: 4px 8px;
}

.slider-part__content_title {
  background: #f5f5f5;
  color: #424242;
  white-space: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  padding: 10px 15px;
  margin: 0;
  height: 52px;
}

.slider-part__content_footer {
  background: #f5f5f5;
  display: flex;
  padding: 20px 15px;
  color: #616161;
}

.slider-part__content_avatar {
  flex: 0 0 40px;
  max-width: 40px;
}

.slider-part__content_photo {
  display: block;
  height: auto;
  max-width: 100%;
  border-radius: 50%;
}

.slider-part__content_author {
  margin-left: 8px;
  line-height: 40px;
}

.slider-part__content_icon {
  height: 18px;
  margin-top: 12px;
  margin-left: auto;
}

.slider-part__content_views {
  margin-left: 4px;
  line-height: 40px;
}